.switch {
    cursor: pointer;
    display: inline-block;
    user-select: none;
    outline: none;

    &:focus-visible {
        outline: 2px solid currentColor;
        outline-offset: 3px;
        border-radius: 999px;
    }

    vertical-align: middle;
}

.rays {
    pointer-events: none;
}
